<a href="https://colab.research.google.com/github/anvitank/Study-of-Tuples-in-Python/blob/main/Practical_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Study of Tuple in Python
##Name: Anvi Singh Tank
##PRN: 25070123019
##Batch: ENTC A1
## Expt 4

In [ ]:
# Create Tuple and Access Tuple Items
thistuple=("flower","leaf","stem")
print(thistuple[1])

leaf

In [ ]:
tuple1=('Python','c++','c','sql','r')
print(tuple1[0::3])

('Python', 'sql')

In [ ]:
# Replacing
thistuple=("flower","leaf","stem")
thistuple[1]="roots"

TypeError: 'tuple' object does not support item assignment

In [ ]:
# Append Items
thistuple=("flower","leaf","stem")
thistuple.append("roots")
print(thistuple)

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
# Adding
t1=(4,7,2)
t2=(9,10,7)
t3= t1+t2
print("t1:",t1)
print("t2",t2)
print("t1+t2:",t3)

t1: (4, 7, 2)
t2 (9, 10, 7)
t1+t2: (4, 7, 2, 9, 10, 7)

In [ ]:
# Result Storing
'''A students exam result is stored in a tuple containing three fixed fields:
Subject name,marks obtained and grade
write a python program to :
1. store the exam result using a tuple
2. unpack the tuple elements into seperate variables.
3. Display the suject, marks, grade.
4. Check whether the student has scored 75 or more marks and print "Distinction" if the condition is satisfied.'''

student=("Maths",89,"A")
sub=student[0]
marks=student[1]
grade=student[2]
print("Subject Name:",sub)
print("Marks:",marks)
print("Grade:",grade)

if marks>75:
  print("Distinction")

Subject Name: Maths
Marks: 89
Grade: A
Distinction

In [ ]:
# Monitoring Attendence System
attendence=('P','P','A','P','P','A','A','P','P','P','A')
print("No. of days Present:",attendence.count('P'))
print('No. of days Absent:',attendence.count('A'))
if 'A' in attendence[:7]:
  print("Employee was absent at least once during the given time period")

No. of days Present: 7
No. of days Absent: 4
Employee was absent at least once during the given time period